
html, body {
    width: 750px;
    height: 100%;
    font-size: 16px;
    margin: 0 auto;
    background-color: #06173e;
}

ul, li, div, p, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul, li, ol {
    list-style: none;
}

img {
    display: block;
}

a {
    cursor: pointer;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
    border: 0;
}

button:active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#container {
    width: 750px;
    height: 100%;
    margin: 0 auto;
}

.section-1 {
    width: 100%;
    height: 1036px;
    background: url("../img/mobileindexBg.jpg") no-repeat center;
}

.section-2 {
    width: 750px;
    text-align: center;
}

.section-3 {
    width: 750px;
    height: 730px;
    background: url("../../img/footer-bg.png") no-repeat center;
}

.main {
    width: 750px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    padding-top: 15%;
}

.main p {
    position: absolute;

}

.userMessage {
    width: 750px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 15%;
}

.userMessage span {
    font-size: 28px;
}

span.user, span.user-qf {
    color: white;
}

span.changeQf, span.user-init {
    color: #fdedae;
}

.main p.tip1 {
    width: 221px;
    height: 239px;
    left: 4%;
    top: 5%;
    background: url("../../img/tip1.png") no-repeat center;
}

.main p.tip2 {
    width: 207px;
    height: 188px;
    right: 0;
    top: 4%;
    background: url("../../img/tip2.png") no-repeat center;
}

.main p.tip3 {
    width: 176px;
    height: 178px;
    right: 7%;
    top: 35%;
    background: url("../../img/tip3.png") no-repeat center;
}

.main p.tip4 {
    width: 195px;
    height: 181px;
    right: 6%;
    bottom: 10%;
    background: url("../../img/tip4.png") no-repeat center;
}

.main p.tip5 {
    width: 284px;
    height: 259px;
    left: 0;
    bottom: 5%;
    background: url("../../img/tip5.png") no-repeat center;
}

.main p.tip6 {
    width: 136px;
    height: 113px;
    left: 18%;
    bottom: 43%;
    background: url("../../img/tip6.png") no-repeat center;
}

.main .middle-box {
    margin: 0 auto;
    width: 100%;
    height: 790px;
}

.middle-box p.slogan {
    width: 100%;
    height: 381px;
    margin: 0 auto;
    margin-top: 11%;
    background: url("../../img/slogan.png") no-repeat center;
}

.middle-box p.startTime {
    width: 100%;
    font-size: 22px;
    bottom: 19%;
    color: #d3be76;
    text-align: center;
}

.middle-box p.banner {
    width: 100%;
    height: 174px;
    margin-top: 49%;
    background: url("../../img/banner.png") no-repeat center;
}

.middle-box .down-box {
    width: 100%;
    height: 135px;
    position: absolute;
    bottom: 0;
}

.middle-box .down-box a {
    float: left;
}

.down-box a.android {
    width: 209px;
    height: 135px;
    background: url("../../img/Android.png") no-repeat center;
}

.down-box a.app {
    width: 209px;
    height: 135px;
    background: url("../../img/Appstore.png") no-repeat center;
}

.down-box a.loginBtn {
    width: 316px;
    height: 133px;
    background: url("../../img/loginBtn.png") no-repeat center;
}

.middle-box .down-box a:hover, .chestBtn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

@-webkit-keyframes hoverMove {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hoverMove {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.tip {
    animation: hoverMove 2s linear 0s infinite normal both;
    -webkit-animation: hoverMove 2s linear 0s infinite normal both;
}

.tip3 {
    animation: hoverMove 3s linear 0s infinite normal both;
    -webkit-animation: hoverMove 3s linear 0s infinite normal both;
}

.tip5 {
    animation: hoverMove 3.5s linear 0s infinite normal both;
    -webkit-animation: hoverMove 3.5s linear 0s infinite normal both;
}

.section-2 .title {
    width: 639px;
    height: 78px;
    margin: 0 auto;
    margin-bottom: 6%;
    background: url("../img/title-1.png") no-repeat center;
}

.section-2 .chest-box {
    width: 750px;
    height: 823px;
    margin: 0 auto;
}

.chest-box .chestbox-ul {
    width: 750px;
    height: 685px;
    background: url("../img/2bg.jpg") no-repeat center;
    margin: 0 auto;
    position: relative;
}

.chestbox-ul li {
    display: inline-block;
}

.chestbox-ul li p.li-desc {
    font-size: 15px;
    color: #d3be76;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10%;
}

.chest-box .chestbox-ul li a.chestBtn {
    width: 132px;
    height: 64px;
    display: block;
    margin: 0 auto;
    background: url("../../img/chestBtn.png") no-repeat center;
}

.chest-box .chestbox-ul li:nth-child(1) {

    margin-left: -3%;
}

.chest-box .chestbox-ul li:nth-child(2) {

}

.chest-box .chestbox-ul li:nth-child(3) {

    margin-left: 6%;
}

.chest-box .chestbox-ul li:nth-child(4) {

    margin-left: -5%;

    margin-top: 10%;
}

.chest-box .chestbox-ul li:nth-child(5) {

    margin-left: 5%;
}

.showBoxPic1 {
    width: 240px;
    height: 124px;
    margin: 0 auto;
    background: url("../../img/p1.png") no-repeat center;
}

.showBoxPic2 {
    width: 184px;
    height: 124px;
    margin-left: 4%;
    background: url("../../img/p2.png") no-repeat center;
}

.showBoxPic3 {
    width: 195px;
    height: 124px;
    background: url("../../img/p3.png") no-repeat center;
}

.showBoxPic4 {
    width: 195px;
    height: 124px;
    background: url("../../img/p4.png") no-repeat center;
}

.showBoxPic5 {
    width: 197px;
    height: 124px;
    background: url("../../img/p5.png") no-repeat center;
}

.chest-box .word {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.word p.intro1 {
    color: #6983bc;
}

.word p.intro2 {
    color: #d3be76;
}

.title-2 {
    width: 655px;
    height: 56px;
    margin: 0 auto;
    margin-top: 7%;
    background: url("../img/title-2.png") no-repeat center;
}

.title-3 {
    width: 646px;
    height: 66px;
    margin: 0 auto;
    background: url("../img/title-3.png") no-repeat center;
}

.dayChest {
    width: 100%;
    height: 447px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.dayChest ul.nav {
    width: 680px;
    height: 43px;
    margin: 0 auto;
}

.dayChest ul.nav li {
    width: 12%;
    display: inline-block;
}

.dayChest ul.nav li span {
    line-height: 48px;
    font-size: 12px;
    display: block;
    color: #d3be76;
}

.dayChest ul.nav li span.on {
    width: 89px;
    height: 43px;
    font-size: 12px;
    color: #9c2905;
    background: url("../img/active.png") no-repeat;
}

.dayChest ul.nav li:nth-child(1) {
    margin-left: -2%;
}

.day-box {
    width: 750px;
    height: 305px;
    margin: 0 auto;
    padding-top: -1%;
    background: url("../img/daybg.png") no-repeat center;
}

.week-box {
    width: 750px;
    height: 450px;
    margin: 0 auto;
    margin-top: -2%;
}

.weekChest {
    width: 737px;
    height: 443px;
    margin: 0 auto;
    background: url("../img/weekBg.png") no-repeat center;
}

.dayBtn {
    width: 153px;
    height: 32px;
    background: url("../img/btn.png") no-repeat center;
}

.weekBtn {
    width: 130px;
    height: 32px;
    background: url("../img/btn2.png") no-repeat center;
}

.title-4 {
    width: 750px;
    height: 55px;
    background: url("../img/title-4.png") no-repeat center;
    padding-top: 5%;
}

.content {
    float: left;
    width: 83%;
    margin: 0 auto;
    margin-left: 9%;
}

.marginTop {
    margin-top: 1%;
}

.content li {
    height: 54px;
    line-height: 58px;
    border-bottom: 1px dashed #b89650;
    width: 100%;
    overflow: hidden;
    float: left;
}

.content li a, .content li span {
    float: left;
    font-size: 20px;
    height: 57px;
    margin-left: 5%;
    overflow: hidden;
}

.content li a span {
    float: none;
    color: #f00;
}

span.spanDesc {
    width: 65%;
    text-align: left;
}

.footer-title {
    width: 405px;
    height: 61px;
    margin: 0 auto;
    padding-top: 9%;
    background: url("../img/title-5.png") no-repeat center;
}

.rule-box {
    width: 650px;
    height: auto;
    border: 1px springgreen;
    margin: 0 auto;
}

.rule-1 {
    clear: both;
    margin-bottom: 3%;
}

.rule-1 a {
    font-weight: bold;
}

h6 {
    color: #d4b440;
    margin-right: 1%;
    margin-top: 3px;
    width: 48px;
    text-align: left;
}

.rule-box p {
    color: #5870a5;
    font-size: 22px;
    text-align: left;
    line-height: 26px;
    /*text-indent: 2em;*/
}

.rule-box p span.time, .rule-box p a {
    color: #d4b440;
}

.nav-box {
    width: 106px;
    height: 426px;
    position: fixed;
    top: 36%;
    right: 2%;
    background: url("../../img/navBg.png") no-repeat center;
}

.nav-box a {
    color: #e1b950;
    line-height: 38px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.nav-box .facebook {
    margin-top: 101%;
}

.nav-box .tip-top {
    width: 20px;
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-top: 108%;
    background: url("../../img/tip.png") no-repeat center;
}

.black-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
    background: black;
}

.loading {
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 30%;
    margin-left: 14px;
    display: none;
}

.loginBox, .chooseBox {
    width: 750px;
    height: 269px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../../img/alertBg.png) no-repeat center;
}

.login-main, .choose-main {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    padding-top: 28px;
    position: relative;
}

.loadingBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(../../img/loading.gif) no-repeat;
    right: 10%;
    bottom: 44%;
    display: none;
}

.login-tip {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #ad5535;
    margin-top: 10px;
    display: none;
}

.login-main .closeBtn, .choose-main .channelLoginCloseBtn, .award-main .closeBtn, .playTip-box .closeBtn, .alert-chest-main2 .closeBtn, .award .closeBtn, .awardTip-box .closeBtn, .goToFb-box .closeBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    background: url("../../img/closeBtn.png");
    right: 0;
    top: -38px;
    transition: transform 3s;
}

.closeBtn:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.login-main .login {
    width: 22%;
    height: 66px;
    border: 0;
    margin-top: 2%;
    margin-left: 32%;
    background: url("../../img/login.png") no-repeat;
}

.login-main .fbBtn {
    width: 186px;
    height: 52px;
    line-height: 52px;
    margin-top: 3%;
}

.login-main input {
    width: 356px;
    height: 41px;
    font-size: 16px;
    text-align: center;
    background: #161f28;
    color: white;
    border-radius: 13px;
    border: 0;
}

.login-main p {
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 23%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.login-main .pbox {
    width: 70%;
    margin: 10px auto;
}

.chooseBox select {
    width: 421px;
    height: 58px;
    margin-top: 41px;
    background: #161f28;
    color: #efbba0;
}

.chooseBox .channelLogin {
    width: 161px;
    height: 66px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../../img/login.png") no-repeat center;
}

.chooseBox .errorTip {
    width: 500px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: #ad5535;
    margin-top: 21px;
}

.alert-chest-box {
    width: 750px;
    height: 395px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/chestbox-Bg.png) no-repeat center;
}

button.chestBtn {
    width: 110px;
    height: 47px;
    display: block;
    margin: 0 auto;
    background: url("../img/alert-chestBtn.png") no-repeat center;
    position: absolute;
    bottom: 4%;
}

.alert-chest-main {
    width: 750px;
    margin: 0 auto;
    height: 270px;
    margin-top: 92px;
    position: relative;
}

span.chestDesc {
    position: absolute;
    bottom: 19%;
    width: 105px;
    height: 47px;
    margin: 0 -49px;
    font-size: 14px;
}

.alert-chest-box .closeBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    background: url("../../img/closeBtn.png");
    right: 0;
    top: -60px;
    transition: transform 3s;
}

.alert-chest-box .chestbox-ul {
    width: 765px;
    margin: 0 auto;
    height: 200px;
    padding-top: 15px;
    position: relative;
}

.alert-chest-box .chestbox-ul li {
    width: 100px;
    height: 100px;
}

.alert-chest-box .chestbox-ul li:nth-child(2) {
    margin-left: 24px;

}

.alert-chest-box .chestbox-ul li:nth-child(3) {
    margin-left: 23px;

}

.alert-chest-box .chestbox-ul li:nth-child(4) {
    margin-left: 19px;
}

.alert-chest-box .chestbox-ul li:nth-child(5) {
    margin-left: 19px;
}

.alert-chest-box .chestbox-ul li a.chestBtn {
    width: 105px;
    height: 47px;
    display: block;
    margin: 0 auto;
    background: url("../../img/alert-chestBtn.png") no-repeat center;
    position: absolute;
    bottom: 5%;
}

.box-word {
    margin-top: 14%;
}

.chestWord {
    font-size: 16px;
    color: #963E2C;
    font-weight: bold;
}

.alert-chest-box1 {
    width: 750px;
    height: 624px;
    margin: 0 auto;
    position: fixed;
    top: 17%;
    display: none;
    z-index: 4;
    background: url(../img/box-4-bg.png) no-repeat center;
}

.alert-chest-main2 {
    width: 640px;
    margin: 0 auto;
    height: 622px;
    margin-top: 53px;
    position: relative;
}

.alert-chest-main2 a.chestBtn {
    width: 97px;
    height: 47px;
    display: block;
    float: left;
    margin: 0 15px;
    background: url("../../img/alert-chestBtn.png") no-repeat center;
}

.alert-chest-main2 .chestBtn-box {
    position: absolute;
    bottom: 11%;
}

.box1-word {
    position: absolute;
    top: 3%;
    width: 640px;
}

/*progress*/

.load-bar-box {
    width: 724px;
    height: 161px;
    margin: 0 auto;
    background: url("../img/loaderbar.png") no-repeat center;
}

.progress-div {
    height: 40px;
    position: relative;
    left: 10%;
    top: 26%;
    width: 578px;
}

.point-item {
    position: absolute;
    top: -55px;
    right: -31px;
    color: #fff;
    display: none;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 7px;
    background: #333;
    border-radius: 0 0 5px 5px;
}

.point-item:before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 18px;
    border: 7px solid;
    border-top: 7px solid #333;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.progress-bar {
    width: 0;
    max-width: 100%;
    height: 40px;
    position: relative;
    border-radius: 13px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar:before, .progress-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.progress-bar:after {
    z-index: 2;
    bottom: -3%;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: -moz-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: -o-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: linear-gradient(to bottom, #fffaa2, #f5bc20, #df6f10, #b64809);
}

.playTip-box, .awardTip-box, .goToFb-box {
    width: 736px;
    height: 269px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url("../img/alertBg.png") no-repeat center;
}

.award-main {
    width: 736px;
    height: 350px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url("../img/awardBg.png") no-repeat center;
}

.playTip-main, .awardTip-main, .fb-box {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    position: relative;
}

.goToFb-button {
    width: 186px;
    height: 46px;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    background: url("../../img/goFbPage.png") no-repeat;
}

.ambilTip-box-1, .ambilTip-box-2 {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    position: relative;
    z-index: 5;
    display: none;
}

button.getItemButton {
    text-align: center;
    width: 132px;
    height: 64px;
    background: url("../../img/chestBtn.png") no-repeat center;
    float: left;
    margin: 0 auto;
    margin-left: 22%;
}

.getItem-box {
    clear: both;
    text-align: center;
}

p.item-rule {
    font-size: 16px;
    clear: both;
    color: #963E2C;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.fb-item-rule {
    padding-top: 12%;
    font-size: 26px;
    clear: both;
    color: #963E2C;
    text-align: center;
    margin-bottom: 25px;
}

.ambilTip {
    padding-top: 12%;
    text-align: center;
}

.desc-1, .desc-2, .desc-4 {
    display: none;
}

.desc-2 p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #963E2C;
}

p.ambilDesc {
    font-size: 20px;
    width: 73%;
    margin: 0 auto;
    color: #963E2C;
}

.yesButton {
    width: 114px;
    height: 48px;
    background: url("../../img/yesButton.png") no-repeat center;
    border: 0;
    margin-top: 6%;
    margin-right: 2%;
}

.noButton {
    width: 186px;
    height: 46px;
    background: url("../../img/noButton.png") no-repeat center;
    border: 0;
}

.notButton {
    width: 114px;
    height: 46px;
    border: 0;
    margin-top: 10%;
    background: url("../../img/notButton.png") no-repeat center;
}

.sureButton {
    width: 114px;
    height: 46px;
    background: url("../../img/sureButton.png") no-repeat center;
    border: 0;
    margin-top: 6%;
    margin-right: 7%;
}

.ambilAward {
    text-align: center;
    padding-top: 12%;
    color: #c5342c;
    font-size: 16px;
}

.item-list {
    margin: 0 auto;
    text-align: center;
    padding-top: 85px;
    font-size: 16px;
    color: brown;
    width: 600px;
}

.item-list p {
    margin: 10px auto;
}

.item-list-h4 {
    float: left;
    font-size: 1.5em;
    width: 250px;
    text-align: right;
}

.item-list-p {
    width: 300px;
    font-size: 1.2em;
    float: left;
    margin-top: 3px;
}

.award-box {
    width: 750px;
    height: 269px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../../img/awardBg.png) no-repeat center;
}

.award {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    padding-top: 28px;
    position: relative;
}

.award .left1 {
    width: 276px;
    height: 190px;
    float: left;
    margin-left: 13%;
    background: url("../../img/left1.png") no-repeat center;
}

.award .right2 {
    width: 200px;
    height: 195px;
    float: left;
    margin-top: -2%;
    margin-left: 6%;
    background: url("../../img/right1.png") no-repeat center;
}

